.button {
  border: none;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.primary-button {
    background-color: #365cdb;
    color: white;
  }

  &:focus-visible {
    outline: 3px solid #93c5fd;
    outline-offset: 3px;
  }

  &:active {
    transform: scale(1.1);
  }
}
